
<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
<!--  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.css">-->
<!--  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>-->
<!--  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>-->
<!--  <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.js"></script>-->
<!--  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css">-->
<!--  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.bundle.min.js"></script>-->
<!--</head>-->
<!--<body>-->
<!--  <div class="container">-->
<!--    <div class="row">-->
<!--      <div class="col-md-6">-->
<!--        <form method="POST" action="{% url 'add_reservation' %}">-->
<!--          {% csrf_token %}-->
<!--          <table class="table">-->
<!--            <tbody>-->
<!--              <tr>-->
<!--                <td>Pokój laboratoryjny</td>-->
<!--                <td>-->
<!--                  <select name="lab_room">-->
<!--                    <option value="" selected>Wybierz pokój laboratoryjny</option>-->
<!--                    {% for lab_room in lab_rooms %}-->
<!--                      <option value="{{ lab_room.id }}">{{ lab_room.room_number }}</option>-->
<!--                    {% endfor %}-->
<!--                  </select>-->
<!--                </td>-->
<!--              </tr>-->
<!--              <tr>-->

<!--              </tr>-->
<!--              <tr>-->
<!--                <td>Czas początkowy</td>-->
<!--                <td><input type="text" name="start_time" readonly></td>-->
<!--              </tr>-->
<!--              <tr>-->
<!--                <td>Czas końcowy</td>-->
<!--                <td><input type="text" name="end_time" readonly></td>-->
<!--              </tr>-->

<!--              <tr>-->
<!--                <td></td>-->
<!--                <td><button type="submit">Zarezerwuj</button></td>-->
<!--              </tr>-->
<!--            </tbody>-->
<!--          </table>-->
<!--        </form>-->
<!--      </div>-->
<!--      <div class="col-md-6">-->
<!--        <div id="calendar"></div>-->
<!--        <a href="{% url 'home' %}" class="btn btn-primary">Powrót do strony głównej</a>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->


<!--  <div id="userModal" class="modal" tabindex="-1">-->
<!--    <div class="modal-dialog">-->
<!--      <div class="modal-content">-->
<!--        <div class="modal-header">-->
<!--          <h5 class="modal-title">INSTRUKCJA REZERWACJI</h5>-->
<!--          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
<!--        </div>-->
<!--        <div class="modal-body">-->
<!--          <p>Wybierz pokój laboratoryjny w lewym górnym rogu, sprawdź jego dostępność w kalendarzu,-->
<!--            a następnie przeciągając kursorem po kalendarzu wybierz dogodny termin.-->
<!--            Wybierz odpowiednie odczynniki i dokonaj rezerwacji.-->
<!--            Po wykonaniu rezerwacji sprawdź czy została ona dodana do zakładki "Moje rezerwacje".-->
<!--            Jeśli nie, przy ponownym rezerwowaniu upewnij się, że wprowadzasz odpowiednią ilość odczynnika i-->
<!--            uzupełniasz wszystkie pola"-->
<!--          </p>-->
<!--        </div>-->
<!--        <div class="modal-footer">-->
<!--          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">OK</button>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div id="reservationModal" class="modal" tabindex="-1">-->
<!--    <div class="modal-dialog">-->
<!--      <div class="modal-content">-->
<!--        <div class="modal-header">-->
<!--          <h5 class="modal-title">Reservation Confirmation</h5>-->
<!--          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
<!--        </div>-->
<!--        <div class="modal-body">-->
<!--          <p>Your reservation was done correctly!</p>-->
<!--        </div>-->
<!--        <div class="modal-footer">-->
<!--          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">OK</button>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

<!--  <script>-->
<!--    $(document).ready(function() {-->
<!--      // Show the user modal-->
<!--      $('#userModal').modal('show');-->

<!--      // Function to dismiss the user modal-->
<!--      function dismissUserModal() {-->
<!--        $('#userModal').modal('hide');-->
<!--      }-->

<!--      // Dismiss the user modal when the "OK" button is clicked-->
<!--      $('#userModal').on('hidden.bs.modal', function () {-->
<!--        dismissUserModal();-->
<!--      });-->


<!--      var getReservationsURL = '{% url 'get_reservations' %}';-->

<!--      $('#calendar').fullCalendar({-->
<!--        header: {-->
<!--          left: 'prev,next today',-->
<!--          center: 'title',-->
<!--          right: 'month,agendaWeek,agendaDay'-->
<!--        },-->
<!--        defaultView: 'agendaWeek',-->
<!--        minTime: '08:00:00',-->
<!--        maxTime: '20:00:00',-->
<!--        slotDuration: '00:30:00',-->
<!--        selectable: true,-->
<!--        events: getReservationsURL,-->
<!--        select: function(start, end) {-->
<!--          // Update the input fields with selected start and end times-->
<!--          $('input[name="start_time"]').val(start.format('YYYY-MM-DD HH:mm:ss'));-->
<!--          $('input[name="end_time"]').val(end.format('YYYY-MM-DD HH:mm:ss'));-->
<!--        }-->
<!--      });-->

<!--      $('select[name="lab_room"]').on('change', function() {-->
<!--        var labRoomId = $(this).val();-->
<!--        updateCalendar(labRoomId);-->
<!--      });-->

<!--      function updateCalendar(labRoomId) {-->
<!--        $.ajax({-->
<!--          url: getReservationsURL,-->
<!--          method: 'GET',-->
<!--          data: { lab_room_id: labRoomId },-->
<!--          success: function(response) {-->
<!--            var reservations = response;-->
<!--            var events = [];-->

<!--            for (var i = 0; i < reservations.length; i++) {-->
<!--              var reservation = reservations[i];-->
<!--              var event = {-->
<!--                title: 'Reserved',-->
<!--                start: reservation.start,-->
<!--                end: reservation.end,-->
<!--                color: 'red'-->
<!--              };-->
<!--              events.push(event);-->
<!--            }-->

<!--            $('#calendar').fullCalendar('removeEvents');-->
<!--            $('#calendar').fullCalendar('addEventSource', events);-->
<!--            $('#calendar').fullCalendar('rerenderEvents');-->
<!--          },-->
<!--          error: function(xhr, status, error) {-->
<!--            console.log(error);-->
<!--          }-->
<!--        });-->

<!--      }-->
<!--    });-->
<!--  </script>-->
<!--</body>-->
<!--</html>-->


<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.bundle.min.js"></script>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <form method="POST" action="{% url 'add_reservation' %}">
          {% csrf_token %}
          <table class="table">
            <tbody>
              <tr>
                <td>Pokój laboratoryjny</td>
                <td>
                  <select name="lab_room">
                    <option value="" selected>Wybierz pokój laboratoryjny</option>
                    {% for lab_room in lab_rooms %}
                      <option value="{{ lab_room.id }}">{{ lab_room.room_number }}</option>
                    {% endfor %}
                  </select>
                </td>
              </tr>
              <tr>
                <td>Sprzęt laboratoryjny</td>
                <td>
                  <select name="lab_equipment">
                    <option value="" selected>Wybierz sprzęt laboratoryjny</option>
                    {% for lab_equipment in lab_equipments %}
                      <option value="{{ lab_equipment.id }}">{{ lab_equipment.name }}</option>
                    {% endfor %}
                  </select>
                </td>
              </tr>
              <tr>
                <td>Czas początkowy</td>
                <td><input type="text" name="start_time" readonly></td>
              </tr>
              <tr>
                <td>Czas końcowy</td>
                <td><input type="text" name="end_time" readonly></td>
              </tr>
              <tr>
                <td></td>
                <td><button type="submit">Zarezerwuj</button></td>
              </tr>
            </tbody>
          </table>
        </form>
      </div>
      <div class="col-md-6">
        <div id="calendar"></div>
        <a href="{% url 'home' %}" class="btn btn-primary">Powrót do strony głównej</a>
      </div>
    </div>
  </div>

  <div id="userModal" class="modal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">INSTRUKCJA REZERWACJI</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Wybierz przedział tygodniowy w kalendarzu, następnie pokój i sprzęt laboratoryjny.
            Sprawdź dostępność. Wybierz dzień i godzinę klikając i przeciągając kursorem po kalendarzu.
            Zatwierdź rezerwację.
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">OK</button>
        </div>
      </div>
    </div>
  </div>
  <div id="reservationModal" class="modal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Reservation Confirmation</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Rezerwacja dodana poprawnie!</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">OK</button>
        </div>
      </div>
    </div>
  </div>

  <script>
    $(document).ready(function() {
      // Show the user modal
      $('#userModal').modal('show');

      // Function to dismiss the user modal
      function dismissUserModal() {
        $('#userModal').modal('hide');
      }

      // Dismiss the user modal when the "OK" button is clicked
      $('#userModal').on('hidden.bs.modal', function () {
        dismissUserModal();
      });

      var getReservationsURL = '{% url 'get_reservations' %}';

      $('#calendar').fullCalendar({
        header: {
          left: 'prev,next today',
          center: 'title',
          right: 'month,agendaWeek,agendaDay'
        },
        defaultView: 'agendaWeek',
        minTime: '08:00:00',
        maxTime: '20:00:00',
        slotDuration: '00:30:00',
        selectable: true,
        eventSources: [
          {
            url: getReservationsURL,
            color: 'red',
            textColor: 'white',
            eventDataTransform: function(eventData) {
              eventData.color = 'red';
              eventData.textColor = 'white';
              return eventData;
            }
          }
        ],
        select: function(start, end) {
          // Update the input fields with selected start and end times
          $('input[name="start_time"]').val(start.format('YYYY-MM-DD HH:mm:ss'));
          $('input[name="end_time"]').val(end.format('YYYY-MM-DD HH:mm:ss'));
        }
      });

        $('select[name="lab_room"]').on('change', function() {
    var labRoomId = $(this).val();
    updateLabEquipments(labRoomId);
  });

  $('select[name="lab_equipment"]').on('change', function() {
    var labRoomId = $('select[name="lab_room"]').val();
    var labEquipmentId = $(this).val();
    updateCalendar(labRoomId, labEquipmentId);
  });



      function updateLabEquipments(labRoomId) {
  $.ajax({
    url: '{% url 'get_lab_equipments' %}',
    method: 'GET',
    data: { lab_room_id: labRoomId },
    success: function(response) {
      var labEquipments = response;
      var labEquipmentDropdown = $('select[name="lab_equipment"]');

      labEquipmentDropdown.empty();
      labEquipmentDropdown.append('<option value="" selected>Wybierz sprzęt laboratoryjny</option>');

      for (var i = 0; i < labEquipments.length; i++) {
        labEquipmentDropdown.append('<option value="' + labEquipments[i].id + '">' + labEquipments[i].name + '</option>');
      }

      // Retrieve selected lab equipment ID
      var labEquipmentId = labEquipmentDropdown.val();

      // Update the calendar with lab room and lab equipment ID
      updateCalendar(labRoomId, labEquipmentId);
    },
    error: function(xhr, ajaxOptions, thrownError) {
      console.log(thrownError);
    }
  });
}

 function updateCalendar(labRoomId, labEquipmentId) {
    var getReservationsURL = '{% url 'get_reservations' %}?';

    if (labRoomId) {
      getReservationsURL += 'lab_room_id=' + labRoomId;
    }
    if (labEquipmentId) {
      getReservationsURL += '&lab_equipment_id=' + labEquipmentId;
    }

    $('#calendar').fullCalendar('removeEvents');
    $('#calendar').fullCalendar('addEventSource', getReservationsURL);
  }

      $('form').on('submit', function(event) {
        event.preventDefault();

        var form = $(this);
        var url = form.attr('action');
        var formData = form.serialize();

        $.ajax({
          url: url,
          method: 'POST',
          data: formData,
          success: function(response) {
            $('#reservationModal').modal('show');
            form.trigger('reset');
          },
          error: function(xhr, ajaxOptions, thrownError) {
            console.log(thrownError);
          }
        });
      });

      $('#reservationModal').on('hidden.bs.modal', function () {
        location.reload();
      });
    });
  </script>
</body>
</html>
